/*
global styles
----------
*/

body {
  background: $default-color;
  text-align: center;
  font-family: $base-font-family;
  font-size: 1em;
}
h1 {
  color: rgba(0,0,0,0.5);
  font-family: $base-font-family;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}
